.about_us {
	display: flex;
	margin-top: 20px;
	justify-content: space-between;
}
.content_about {
	margin-right: 10px;
}
.main_about {
	padding: 25px;
	background-color: rgba(242, 219, 197, 1);
    outline: 2px solid #000;
    outline-offset: -10px;
    outline-style: outset;
    text-align: center;
    letter-spacing: 0.2em;
    font-size: 1.2em;
}

.text_about {
	font-size: 1.3em;
	margin-top: 100px;
	padding: 5px;
	font-style: italic;
}

.text_about > p {
	margin-top: 25px;
}

.img_about_us {
	margin-left: 10px;
	height: 280px;
}