{% extends 'base.html' %}
{% load static %}

{% block page_title %}
	Асортимент
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="{% static 'css/collection_style.css' %}">
{% endblock %}

{% block content %}
<hr>
<h2 class="name_content">Холодильники(<a href="/fridge" class="link_more">Детальніше</a>)</h2>
<div class="container block_products">
	{% for item in products_fridge %}
			<div class="card_product">
			    <a href="{% url 'product' item.product.id %}">
			        <img src="{{ item.image }}" alt="" class="card_image">
			        <div class="product_name">{{ item.product.name }}</div>
			        <div class="product_price">${{ item.product.price }}</div>
			    </a>
			</div>
	{% endfor %}
</div>

<h2 class="name_content">Мікрохвильовки(<a href="/microwave" class="link_more">Детальніше</a>)</h2>
<div class="container block_products">
	{% for item in products_microwave %}
			<div class="card_product">
			    <a href="{% url 'product' item.product.id %}">
			        <img src="{{ item.image }}" alt="" class="card_image">
			        <div class="product_name">{{ item.product.name }}</div>
			        <div class="product_price">${{ item.product.price }}</div>
			    </a>
			</div>
	{% endfor %}
</div>

<h2 class="name_content">Мультиварки(<a href="/multiwriters" class="link_more">Детальніше</a>)</h2>
<div class="container block_products">
	{% for item in products_multiwriters %}
			<div class="card_product">
			    <a href="{% url 'product' item.product.id %}">
			        <img src="{{ item.image }}" alt="" class="card_image">
			        <div class="product_name">{{ item.product.name }}</div>
			        <div class="product_price">${{ item.product.price }}</div>
			    </a>
			</div>
	{% endfor %}
</div>

<h2 class="name_content">Кавоварки(<a href="/coffee" class="link_more">Детальніше</a>)</h2>
<div class="container block_products">
	{% for item in products_coffee %}
			<div class="card_product">
			    <a href="{% url 'product' item.product.id %}">
			        <img src="{{ item.image }}" alt="" class="card_image">
			        <div class="product_name">{{ item.product.name }}</div>
			        <div class="product_price">${{ item.product.price }}</div>
			    </a>
			</div>
	{% endfor %}
</div>
{% endblock %}